@font-face {
    font-family: "Inter";
    src: url('../src/fonts/Inter/static/Inter-Bold.ttf') format("truetype");
    font-style: normal; 
    font-weight: normal; 
}

@font-face {
    font-family: "Nunito";
    src: url('../src/fonts/Nunito_Sans/static/NunitoSans_10pt-Bold.ttf');
    font-style: normal;
    font-weight: normal;
}

:root {
    --color: #1f2937;
    --container-color: #d4d4d8;
}

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
}

.main {
    display: grid;
    height: 100vh;
    grid-template: 1fr 1fr 2fr / 1fr 2fr 1fr;
}

.navigation {
    display: grid;
    grid-template-rows: 1fr 2fr 3fr;
    grid-row: 1 / 4;
    background-color: var(--color);
}

.item {
    display: flex;
    margin-left: 3vw;
    margin-top: 1em;
    font-family: "Inter";
    color: white;
}

.item img {
    height: 30px;
}

.item .dash {
    height: 60px;
}

.item h1 {
    margin-top: 1vh;
}

.item h2 {
    margin-left: 0.5vw;
}

.info {
    background-color: white;
    grid-column: 2 / 4;
}

.container {
    background-color: var(--container-color);
    grid-column: 2 / 4;
    grid-row: 2 / 4;
    box-shadow: 0 -1px 10px gray;
}

.nav {
    margin-top: 5em;
}

.support {
    margin-top: 5em;
}